<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어학 성적</title>

    <style>
        /*form 스타일*/
        
        .form-style-1 {
            margin: 10px auto;
            max-width: 400px;
            padding: 20px 12px 10px 20px;
            font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            text-align: center;
        }
        
        .form-style-1 li {
            padding: 0;
            display: block;
            list-style: none;
            margin: 10px 0 0 0;
        }
        
        .form-style-1 label {
            margin: 0 0 3px 0;
            padding: 0px;
            display: block;
            font-weight: bold;
        }
        
        .form-style-1 input[type=text],
        .form-style-1 input[type=date],
        .form-style-1 input[type=datetime],
        .form-style-1 input[type=number],
        .form-style-1 input[type=search],
        .form-style-1 input[type=time],
        .form-style-1 input[type=url],
        .form-style-1 input[type=email],
        textarea,
        select {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border: 1px solid #BEBEBE;
            padding: 7px;
            margin: 0px;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;
        }
        
        .form-style-1 input[type=text]:focus,
        .form-style-1 input[type=date]:focus,
        .form-style-1 input[type=datetime]:focus,
        .form-style-1 input[type=number]:focus,
        .form-style-1 input[type=search]:focus,
        .form-style-1 input[type=time]:focus,
        .form-style-1 input[type=url]:focus,
        .form-style-1 input[type=email]:focus,
        .form-style-1 textarea:focus,
        .form-style-1 select:focus {
            -moz-box-shadow: 0 0 8px #8f283b;
            -webkit-box-shadow: 0 0 8px #8f283b;
            box-shadow: 0 0 8px #8f283b;
            border: 1px solid #8f283b;
        }
        
        .form-style-1 .field-divided {
            width: 49%;
        }
        
        .form-style-1 .field-long {
            width: 100%;
        }
        
        .form-style-1 .field-middle {
            width: 85%;
        }
        
        .form-style-1 .field-select {
            width: 100%;
        }
        
        .form-style-1 .field-textarea {
            height: 100px;
        }
        
        .form-style-1 input[type=submit],
        .form-style-1 input[type=button] {
            background: #BE354D;
            padding: 8px 15px 8px 15px;
            border: none;
            color: #fff;
        }
        
        .form-style-1 input[type=submit]:hover,
        .form-style-1 input[type=button]:hover {
            background: #dc183c;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        
        .form-style-1 .required {
            color: red;
        }
    </style>
</head>

<body>
    <form action="/main_6_cert/Language" method="POST">
        <ul class="form-style-1">
            <li><label>어학 시험</label>
                <select name="language_name" class="field-select">
                <option value="TOEIC">TOEIC</option>
                <option value="TOEFL">TOEFL</option>
                <option value="G-TELP">G-TELP</option>
                <option value="ECL">ECL</option>
                <option value="OPIc">OPIc</option>
                <option value="IELTS">IELTS</option>
                <option value="ESPT">ESPT</option>
                <option value="TEPS">TEPS</option>
                <option value="PELT">PELT</option>
                <option value="FLEX">FLEX</option>
            </select>
            </li>
            <li><label>점수</label>
                <input type="text" name="language_grade" placeholder="점수 또는 등급을 입력하세요" class="field-long">
            </li>
            <li><label>취득일</label>
                <input type="date" name="language_date" class="field-long">
            </li>
            <li>
                <input type='submit' id="searchBtn" value="제출" />
            </li>
        </ul>
    </form>
</body>