<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="samstyle.css">-->
    <link rel="stylesheet" type="text/css" href="css/jquery.fullpage.css">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:900&display=swap&subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <script type='text/javascript' src='js/jquery.min.js'></script>
    <script type='text/javascript' src='js/jquery.autocomplete.min.js'></script>
    <script type='text/javascript' src="js/bootstrap.min.js"></script>
    <script type='text/javascript' src="js/jquery.fullpage.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type='text/javascript' src='js/sam.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>

    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>
    <div class="fullpage">
        <div class="book-container section">
            <!--================Home Banner Area =================-->
            <section class="home_banner_area">
                    <!--<img src="samimage/sejong2_2.jpg" alt="세종대" style="opacity: 0.3;">-->
                <div class="box_1620">
                        
                    <div class="banner_inner d-flex align-items-center">
                        <div class="container">
                            <div class="banner_content text-center">
                               <br><br><br><br><br><br><br><h3>SAM <br />Software Ability Monitoring</h3>
  
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           <!-- <section class="home_banner_area">
                <div class="box_1620">
                    <div class="banner_inner d-flex align-items-center">
                        <div class="container">
                            <div class="banner_content text-center">
                                <h3>Nature <br />Photoshoot</h3>
                                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
                                <a class="main_btn" href="#">Explore Gallery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
            <!--================End Home Banner Area =================-->

            <!--================Home Blog Area =================-->
            <section class="home_blog_area pad_top">
                <div class="container">
                    <div class="home_blog_inner">
                        <!--전체 모니터링-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home1.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner left">
                                        <h4>전체 모니터링 <br />나의 역량 한눈에 보기</h4>
                                        <p>나의 전체적인 역량이 어느정도 수준에 있는지 한눈에 볼 수 있도록 색깔로 표현됩니다.</p>
                                        <a class="main_btn2" href="main_1_first.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--주력 언어-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner right">
                                        <h4>언어 <br />나의 주력언어</h4>
                                        <p>나의 주력언어는 무엇인지, 내 언어 수준이 어떤 위치에 있는지, 어떤 언어를 기업에서 많이 필요로 하는지 알 수 있습니다.</p>
                                        <a class="main_btn2" href="main_2_language.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--프로젝트-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home3.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner left">
                                        <h4>프로젝트 <br />내가 한 프로젝트</h4>
                                        <p>내가 공모전, 스터디나 동아리, 또는 학교 수업 때 했던 프로젝트를 입력하고 모니터링 할 수 있습니다. 또, 공모전도 추천합니다.</p>
                                        <a class="main_btn2" href="main_3_project.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--인턴-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner right">
                                        <h4>인턴 <br />나의 인턴 경험</h4>
                                        <p>내가 그동안 했던 인턴 경험을 입력하고 모니터링 할 수 있습니다. 또, 관리자가 제공하는 인턴 정보도 볼 수 있습니다.</p>
                                        <a class="main_btn2" href="main_4_intern.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home4.png" alt="">
                                </div>
                            </div>
                        </div>

                        <!--교육-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home5.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner left">
                                        <h4>정부/기업 교육 <br />나의 교외 교육 경험</h4>
                                        <p>나의 교외 교육 경험을 입력하고 모니터링 할 수 있습니다. 다른 사람들은 어떤 교육을 했는지도 제공합니다.</p>
                                        <a class="main_btn2" href="main_5_edu.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--공인성적-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner right">
                                        <h4>공인성적 <br />나의 자격증과 TOPCIT</h4>
                                        <p>내가 취득한 자격증, 영어 공인시험, TOPCIT 등 각종 공인성적을 입력하고 모니터링 할 수 있습니다. 어떤 기업이 어떤 공인영어 성적을 필요로 하는지도 제공합니다.</p>
                                        <a class="main_btn2" href="main_6_cert.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home6.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!--이수성적-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home7.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner left">
                                        <h4>이수성적 <br />나의 학교 성적</h4>
                                        <p>이수 성적은 따로 입력하지 않아도 내 성적이 어느정도인지 모니터링 할 수 있습니다. 또, 코딩 교육 사이트는 어떤 것이 있는지 정보를 제공합니다.</p>
                                        <a class="main_btn2" href="main_7_grade.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--관심분야-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner right">
                                        <h4>관심분야/목표 <br />나의 희망</h4>
                                        <p>나의 관심 언어와 분야, 그리고 희망 직무를 입력하여 모니터링 할 수 있습니다. 어떤 언어가 어떤 직무에 쓰이는지에 대한 정보도 제공합니다.</p>
                                        <a class="main_btn2" href="main_8_interest.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home8.png" alt="">
                                </div>
                            </div>
                        </div>

                        <!--발자취-->
                        <div class="row h_blog_item">
                            <div class="col-lg-6">
                                <div class="h_blog_img">
                                    <img class="img-fluid" src="css/home9.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="h_blog_text">
                                    <div class="h_blog_text_inner left">
                                        <h4>발자취 <br />나와 비슷한 선배들</h4>
                                        <p>내 역량과 비슷한 선배들은 또 어떤 역량이 있고, 어떤 기업에 들어갔는지 알 수 있습니다. 세 명의 발자취를 보고 나의 미래를 설계할 수 있습니다.</p>
                                        <a class="main_btn2" href="main_9_footprint.hbs">LEGGO!</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--================End Home Blog Area =================-->
        </div>
    </div>
</body>

</html>